<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
     <div class="conectados"></div>
    <div class="container">


    <div class="formulario">

    <form id="form-username">
        <input class="form-control rounded-0" type="text" id="username" placeholder="ingrese su nombre">
        <button  type="submit">ingrese al chat</button>
    </form>
    <div class="chat-messages mt-3"></div>
    <form id="form-messages">
        <input class="form-control rounded-0" type="text" id="message" placeholder="escriba su mensaje">
        <button  type="submit">enviar</button>

    </form>

    </div>
  


    </div>
    

</body>
</html>