<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/restore-styles.css">
    <title>Document</title>
</head>
<body>
    <div class="fondo-restore">

    <form class="restoreForm" >
      <label for="test-correo">correo</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="ingrese su correo">
      <button type="submit">envio link recuperacion</button>


    </form>


    </div>

<script src="/js/restore.js"></script>
</body>
</html>