<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pathway+Gothic+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/success-styles.css">
     <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <title>Document</title>
    
</head>
<body>
    <h1 class="animate__heartBeat  oculto" >Gracias por su compra!!</h1 disabled>
    <div class="venta">


    </div>
    <div class="sinStock">
        

    </div>
    <a id="botonHome"   href="/">HOME</a>
    <script src="/js/sellcart.js"></script>
</body>
</html>