<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/success-styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Gracias por su compra!!</h1>
    <div class="venta">


    </div>
    <div class="sinStock">
        

    </div>
    <a href="/">HOME</a>
    <script src="/js/sellcart.js"></script>
</body>
</html>