body{
    background-image: url('../image/image3.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}


h1{
    color: rgb(162, 123, 95);
}

#DeleteUsersAfter{
    margin-bottom: 20px;
}


table{
    width: 100%;
}
tr th{
    border: 1px solid rgb(223, 33, 19);
    background-color: rgba(255, 228, 196, 0.495);
    padding: 5px;
}

td{
    padding: 5px;
    
    background-color: rgba(255, 228, 196, 0.495);
}