body{
    display: flex;
    flex-wrap: wrap;
    background-image: url('../image/image1.jpg');
    background-size: cover;
    justify-content: space-around;
  
}

.infoPremium{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    width: 400px;
    height: 400px;
    background-color: rgba(222, 184, 135, 0.072);
}
.picture{
    width: 200px;
    height: 200px;
    
    

}
.perfilImage{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
#uploadInfo{
    width: 100%;
}
#validatePremium{
    width: 100%;
}

.products{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    width: 800px;
}

.allProducts{

    width: 800px;
    height: 500px;
    background-color: rgba(250, 235, 215, 0.254);
    border-radius: 20px;
}

